*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    /* background-color: black; */
}


/* Header */
.logo{
    width: 10vw;
    margin-right: auto;
    background-color: black;
}

header{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: fixed;
    width: 100vw;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
    cursor: pointer;
}

.nav_links li a{
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 0.9vw;
}

.nav_links li a:hover{
    color: #BFBFBF;
}

.line{
    font-size: 200px;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    font-size: 0.9vw;
}

button:hover{
    background-color: #BFBFBF;
}


/* Homepage */
.home-page{
    background-color: black;
    margin-top: 9vh;
}

.home-page img {
    width: 100%; 
}


/* About */
.about-section{
    color: white;
    background-color: black;
    height: 100%;
    padding: 30px 10%;
}

.about-heading-img img{
    width: 20vw;
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-grid img{
    width: 40vw;
}

.about-grid-p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-grid-img{
    display: flex;
    justify-content: center;
}


/* Warmup Page */
.warmup-page{
    background-color: black;
    color: white;
    padding: 30px 10%;
}

.h2-red{
    color: red;
    font-size: 1vw;
    letter-spacing: 5px;
}

.menu-box-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.menu-box-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
}

.food-info p{
    font-size: 0.8vw;
}


/* Fillers */
.fillers-page{
    color: white;
    background-color: black;
    height: 100%;
    padding: 30px 10%;
}

.fillers-page h2{
    color: red;
    font-size: 1vw;
    letter-spacing: 5px;
}

/* Pasta Page */
.pasta-page{
    background-color: black;
    color: white;
    padding: 30px 10%;
}

.pasta-page h2{
    color: red;
    font-size: 1vw;
    letter-spacing: 5px;
}

/* Shrimp */
.shrimp-page{
    background-color: black;
    color: white;
    padding: 30px 10%;
}

.shrimp-page h2{
    color: red;
    font-size: 1vw;
    letter-spacing: 5px;
}


/* Refershers */
.refer-page{
    background-color: black;
    color: white;
    padding: 30px 10%;
}


/* Collage Div */
.collage-div{
    background-color: black;
}

.collage-div img{
    width: 100%;
}